Package: com.github.caddyserver.caddy
Name: caddy
Version: 2.3.0-1
Architecture: iphoneos-arm
Description: Caddy 2 is a powerful, enterprise-ready, open source web server with automatic HTTPS written in Go.
Maintainer: lvv (me@lvv.me)
Author: Caddy (Caddy)
Section: Networking
Depends: firmware (>= 10.0)
